div{
	background-color: gray;
	height: 500px;
	width: 500px;
	margin: 0 auto;
	background-image: url('ga_logo.png');
	background-repeat: no-repeat;
	background-position: -100px 200px;
	background-size: cover;
}