.container {
	margin: 0 auto;
	width: 85%;
}

header {
	background-color: black;
	overflow: hidden;
	text-transform: uppercase;
	padding: 10px 0;
}

header h1 {
	font-size: 35px;
	float: left;
	color: white;
}

header nav {
	float: right;
	margin-top: 8px;
}

header nav a {
	display: inline-block;
	color: white;
	text-decoration: none;
	font-size: 20px;
	margin-left: 50px;
}

#burger {
	display:none;
}

#mobile-nav {
	display:none;
	background-color: yellow;

}





@media screen and (max-width: 1024px) {
	#burger {
		display: block;
		margin-left: 85%;
	
	}

	#mobile-nav {
		display: block;
		width: 100%;
	
	}	
 	#large-nav {
 		display:none;
 	}

#mobile-nav a {
	display: block;
	color: black;
	text-align: center;
	width: 100%;
	background-color: yellow;

	}

}