/******************************************
/* SETUP
/*******************************************/

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #606161;
  font-size: 24px;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300px;
}

.leftcolumn {
  width:700px;
}

aside {
  width:240px;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 960px;
  margin: auto;
}

header {
  background-color:blue;

}

header p{
  font-size:30px;
  color:white;
  background-color:#033048;
}

#relaxr {
  font-weight:800px;
  font-size:40px;

}

nav li{
  display:inline-block;
  color:yellow;
  font-weight:600px;
  font-size:24px;
}

h2 {
  font-weight: 600px;
  font-size:40px;
}

#readmore p{
  font-weight:600px;
  font-size:24px;
}

.sidebarul li {
  font-size:24px;
  font-weight:300px;
}

.abouttext p{
font-weight:300px;
font-size:22px;
}

#learnmore {
  font-weight:600px;
  font-size:22px;

}
footer {
  background-color: #121212;

}

.yellowbar {
  background-color:#f9e42e;
}

.signup {
  background-color:#033048 ;
}

.signup p {
font-weight:600px;
font-size:24px;
}

.sidebarhead p  {
  font-size: 32px;
  font-weight: 600px;
}

#copyright p {
  font-size:20px;
  font-weight:300px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/




